{
    "kind": "ImageStream",
    "apiVersion": "v1",
    "metadata": {
        "name": "jupyterhub",
        "namespace": "{{ namespace }}",
        "labels": {
            "build": "jupyterhub",
            "app": "jupyterhub"
        }
    },
    "spec": {
        "lookupPolicy": {
            "local": true
        }
    }
}
