apiVersion: v1
kind: Template
metadata:
  name: jupyterhub-spark-operator-configmap
  labels:
    app: jupyterhub
    component: spark-operator
  namespace: {{ namespace }}  
objects:
- apiVersion: v1
  data:
    config: |-
      workerNodes: ${WORKER_NODES}
      masterNodes: ${MASTER_NODES}
      memory: ${MEMORY}
      cpu: ${CPU}
      customImage: ${SPARK_IMAGE}
  kind: ConfigMap
  metadata:
    labels:
      radanalytics.io/kind: sparkcluster
    name: spark-cluster-${USERNAME}
parameters:
- name: USERNAME
  required: true
- name: WORKER_NODES
  value: "2"
- name: MASTER_NODES
  value: "1"
- name: MEMORY
  value: 2Gi
- name: CPU
  value: "2"
- name: SPARK_IMAGE
  value: jkremser/openshift-spark:2.3-latest