{
    "kind": "ImageStream",
    "apiVersion": "v1",
    "metadata": {
        "name": "s2i-spark-scipy-notebook",
        "namespace": "{{ namespace }}",
        "labels": {
            "build": "s2i-spark-scipy-notebook"
        }
    },
    "spec": {
        "lookupPolicy": {
            "local": true
        }
    }
}
