{
  "kind": "ImageStream",
   "apiVersion": "v1",
   "metadata": {
       "name": "s2i-spark-minimal-notebook",
       "namespace": "{{ namespace }}",
       "labels": {
           "build": "s2i-spark-minimal-notebook"
       }
   },
   "spec": {
       "lookupPolicy": {
           "local": true
       }
   }
}
